
/* this creates new variable types if they aren't existing OR they will be assigned  */
/* perhaps this is so the css page doesn't show a blank page */
:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    align-items: center;
    justify-content: space-evenly;

}

.header {
    background-color: green;
    /* removed this, box appears flex: 1 1 0%; */
    width: 100px;
    height: 100px;
}

.main_container {
    display: flex;
    flex-direction: row;
    font-family: Helvetica, sans-serif;
    align-items: center; 
    /* justify-content: space-evenly; */
    /* margin: 0; */
    /* flex command would seem to imply a growth of 8 to 1 
    WITHIN the container to override the body's 1 1 0 assignment...*/
    /* flex: 50 1 0%;  */
}

.footer {
    background-color: green;
/* removed this, box appears flex: 1 1 0%; */
    width: 100px;
    height: 100px;
}

.margin {
    display: flex;
    flex-direction: row;
    background-color: black;
    /* flex: 1; */
    padding: 5px;
}

.grid_frame {
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;  
    padding: 10px;
    background-color: red;
    flex: 4 1 0%;
}
  
#grid_container {
    display: grid;
    /* grid-gap: 1em; */
    /* Grid also introduces a new unit, the fractional fr. 
    Each fr unit allocates one share of the available space. 
    E.g., if two elements are set to 1fr and 3fr respectively, the space is divided into 4 equal shares;
    the first element occupies 1/4 and the second element 3/4 of any leftover space.*/
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    background-color: pink;
}
  
.grid_element {
    /* padding: 1em; */
    border: 1px solid gray;
    text-align: center;
    /* min-width: 15px;
    min-height: 15px; */
    display: inline-block;
    color: blue; 
}

/* body {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 0;
} */

