
/* this creates new variable types if they aren't existing OR they will be assigned  */
/* perhaps this is so the css page doesn't show a blank page */
/* :root {
    --grid-cols: 1;
    --grid-rows: 1;
} */

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    align-content: stretch;
    justify-content: space-evenly;
    gap: 30px;
    height: 1000px;
    background-color: #252525;
    /* margin: 0; */
    /* flex-grow: initial; */
  
}
head {
    flex: 0;
    margin: 0;
    height: 0px;
}

.page_content {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
    justify-content: center;
}

.hfers {
    background-color: #3e3e3e;
    min-width: 600px;
    min-height: 100px;
}

#margin_left, #margin_right {
    /* background-color: chartreuse; */
    min-width: 100px;
    min-height: 600px;
}

.main_container {
    display: flex;
    flex-direction: row;
    font-family: Helvetica, sans-serif;
    align-items: center; 
    align-content: stretch;
    justify-content: space-evenly;
    /* background-color: brown; */
    min-width: 800px;
    max-width: 800px;


}

.mainc_subsection {
    background-color: #3e3e3e;
    padding: 5px;
    align-content: stretch;

}

.grid_frame {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #3e3e3e;
    flex: 1 1 0%;
    align-content: stretch;
    min-width: 800px;
    max-width: 800px;
}

#grid_container {
    display: grid;
    grid-template: repeat(var(--grid-rows), 1fr) / repeat(var(--grid-rows), 1fr);
    /* grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr); */
    background-color: pink;
    align-content: stretch;
    max-width: 600px;
}
  
.grid_element {
    border: 1px solid gray;
    text-align: center;
    display: inline-block;
    color: blue; 
}
 
.interface_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: orange;
    align-content: stretch;
    min-width: auto;
}

.toggle_menu, .res_choices {
    display: flex;
    flex-direction: row;
    background-color: #6e6e6e;
    padding: 1px;
}

/* properties for buttons */ 

.game_choice_item {
    background-color: #3882F6;
    font-size: 16px;
    height: 26px;
    color: #E5E7EB;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid;
    box-shadow: none;
    flex-shrink: 0;
}

/* during different states */
/* .game_choice_item:focus {
    background-color: #6e6e6e;
    outline: none;
    border:none;
  }
   */
.game_choice_item:hover {
background-color: #3e3e3e;
border: none;
outline: none;
box-shadow: none;
}
  
  

/* properties for links*/
a {
    font-size: 18px;
    outline: none;
    /* removes underlining of links */
    /*inspired by "web-page-pilot"*/
    text-decoration: none;
  }
  
  a.link-attributes:link { 
    color: #E5E7EB;
  }
  
  /*To change the selected link color:*/
  a.link-attributes​:active {
    color: purple; 
  }
  
  /*To change the mouseover color:*/
  a.link-attributes​:hover {
    color: green; 
  }
  
  /*To change the active color:*/
  a.link-attributes​:active { 
    color: blue; 
  }
  